.mat-card {
  border: 1px solid rgba(255, 255, 255, 0.6);
  transition: border 0.3s, background-color 0.3s;
  max-width: 420px;
}

.mat-card:hover {
  border: 1px solid white;
}

.mat-card-content {
  padding: 12px 4px 4px 12px;
  height: 96px;
}

.project-tile {
  color: white;
  background-color: rgba(0, 0, 0, 0.35);
  margin: 4px;
}

.project-tile:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.project-tile h2 {
  font-size: 18px;
  margin: 0px 0px 8px;
}

.projects-container {
  padding: 0px 20px;
}
