.mat-card {
  border: 1px solid rgba(255, 255, 255, 0.7);
  transition: border 0.3s;
}

.mat-card:hover {
  border: 1px solid yellow;
}

.project-tile {
  color: white;
  background-color: rgba(0, 0, 0, 0.35);
  margin-bottom: 8px;
  max-width: 450px;
  height: 120px;
}

.project-tile h2 {
  font-size: 18px;
  margin: 0px 0px 8px;
}

.projects-container {
  padding: 0px 20px;
}
