.mat-card {
  max-width: 420px;
}

.mat-card-content {
  padding: 12px 4px 4px 12px;
  height: 96px;
}

.project-tile {
  margin: 4px;

  h2 {
    font-size: 18px;
    margin: 0px 0px 8px;
  }
}

.projects-container {
  padding: 0px 20px;
}
