<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="8px"
  fxLayoutAlign="flex-start"
  class="projects-container"
>
  <mat-card
    *ngFor="let project of projects"
    fxFlex="0 1 calc(50% - 8px)"
    fxFlex.lt-md="100%"
    matRipple
    [matRippleColor]="rippleColor"
    class="project-tile"
  >
    <mat-card-content>
      <h2>{{ project.title }}</h2>
      <p>
        {{ project.description }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
  <!--
  <h2>Overview</h2>
  <p>{{ project.about }}</p>
  <h2 *ngIf="languagesExist(project)">Languages</h2>
  <div
    *ngFor="let language of project.languages"
  >
    <span
      class="project-language-color"
      [ngStyle]="{
        'background-color': language.color
      }"
    >
    </span>
    <span>
      {{ language.name }}
    </span>
  </div>
  <br />
  <h2 *ngIf="otherToolsExist(project)">Other Technologies</h2>
  <div
    *ngFor="let tool of project.tools"
  >
    <span
      class="project-language-color"
      [ngStyle]="{
        'background-color': tool.color
      }"
    >
    </span>
    <span>
      {{ tool.name }}
    </span>
  </div>
  -->
