.k-pdf-export .resume {
  background-color: #fff;
  color: #000;
}

.k-pdf-export .resume-date-range {
  color: rgba(0, 0, 0, 0.5)
}

.k-pdf-export .resume-header-logo {
  margin: -2px 4px 2px 0px;
  filter: invert(0%);
}
