/* Add margin to scroll past footer */
.Main {
  color: #fff;
  margin: 8px 8px 75px 8px;
}

/* Project Component */
.project-card {
  margin: 2px !important;
  min-width: 364px;
  max-width: 364px;
  min-height: 120px;
  max-height: 120px;
}

.project-card-contents {
  min-width: 340px;
  max-width: 340px;
  min-height: 96px;
  max-height: 96px;
}

.project-card-header {
  text-align: left;
  margin: 16px 8px 8px 8px;
}

.project-card-text {
  font-size: 14px;
  text-align: left;
  margin: 8px 8px;
}

.project-modal {
  background-color: #343a40;
  border-color: #2a2a2a;
  color: #fff;
}

.project-modal-src-link {
  font-size: 12px;
}

.project-language-color {
  position: relative;
  margin: 1px 2px -1px 0px;
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;
}

/* Landing page big button */
.landing-button-big {
  margin: 2px;
  min-width: 244px;
  max-width: 244px;
  min-height: 120px;
  max-height: 120px;
}

/* Landing page regular button */
.landing-button {
  margin: 2px;
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  max-height: 120px;
}

/* Extra padding for text pages */
.page-padding {
  padding-top: 30px;
}

/* Align to center */
.centered-text {
  text-align: center;
}

/* For content to be fixed at center of page */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

/* React Bootstrap Card Header with inline text */
.card-header-custom {
  clear: both;
  transition: .3s;
}

/* React Nav tab white text */
.navtab-custom {
  color: #fff;
  transition: .3s;
}

/* Animate Card Header & Nav tab on hover */
.card-header-custom:hover, .navtab-custom:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}

/* Left-aligned text of Card Header */
.card-header-custom-left {
  margin: 0px 8px 0px 0px;
  float: left;
}

/* Right-aligned text of Card Header */
.card-header-custom-right {
  color: rgba(255, 255, 255, 0.5);
  float: right;
}

/* Fade in contents from top */
.fadein {
  animation: fadeintop .5s;

  /* Preserve style before and after animation */
  animation-fill-mode: both;
}

/* Fade in contents from bottom */
.fadein-bottom {
  animation: fadeinbottom .5s;

  /* Preserve style before and after animation */
  animation-fill-mode: both;
}

/* Delay fade in animation on loading spinner */
.spinner {
  animation-delay: 1s;
}

/* Fade in from top */
@keyframes fadeintop {
  from {
    opacity: 0;
    transform: translate(0, -10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Fade in from bottom */
@keyframes fadeinbottom {
  from {
    opacity: 0;
    transform: translate(0, 10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Fade out to bottom */
@keyframes fadeoutbottom {
  from {
    opacity: 1;
    transform: translate(0, 0px);
  }
  to {
    opacity: 0;
    transform: translate(0, -10px);
  }
}

/* Footer */
.footer-custom {
  padding: 6px 12px;
}

.footer-dropdown {
  background-color: #343a40;
}

.footer-button {
  margin: 0px 3px;
  padding: 6px 9px;
}

.footer-mdicon {
  padding: 0px 0px 2px 0px;
}

.footer-item {
  color: #fff;
}

.footer-version {
  transition: .3s;
}

/* Animate Card Header & Nav tab on hover */
.footer-version:hover {
  color: rgba(255, 255, 255, 1);
}
