body {
  margin: 0;
  background-color: #011014;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'DejaVu Serif',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add margin to scroll past footer */
.Main {
  color: #fff;
  margin: 8px 8px 75px 8px;
}

.visuals-scene {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.transparent-dark {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

/* Resume */
.pdf-toolbar {
  margin: 8px 0px;
}

.resume {
  position: relative;
  margin: auto;
  font-family: Arial;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px;
  width: 8.5in;
  height: 11in;
}

.resume-header {
  margin: 0px 0px 4px;
  padding: 8px;
  clear: both;
}

.resume-header-left {
  width: 33%;
  float: left;
}

.resume-header-right {
  width: 67%;
  float: right;
  font-size: 15px;
}

.resume-header-right-left {
  width: 50%;
  float: left;
}

.resume-header-right-right {
  width: 50%;
  float: right;
}

.resume-header-logo {
  margin: -2px 4px 2px 0px;
  height: 15px;
  width: 15px;
  filter: invert(100%);
}

.resume-text {
  font-size: 14px;
}

h5.resume-body-header {
  color: #dc3545;
}

.resume-body {
  clear: both;
}

.resume-body-left {
  padding: 8px;
  width: 25%;
  float: left;
}

.resume-body-right {
  padding: 8px;
  width: 75%;
  float: right;
}

.resume-date-range {
  color: rgba(255, 255, 255, 0.5);
  float: right;
}

ul.resume-text {
  padding: 0px 0px 0px 20px;
}

/* Project Component */
.project-card {
  margin: 2px !important;
  min-width: 364px;
  max-width: 364px;
  min-height: 120px;
  max-height: 120px;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.project-card:hover {
  background-color: rgba(0, 48, 150, 0.6) !important;
}

.project-card-contents {
  min-width: 340px;
  max-width: 340px;
  min-height: 96px;
  max-height: 96px;
}

.project-card-header {
  text-align: left;
  margin: 16px 8px 8px 8px;
}

.project-card-text {
  font-size: 14px;
  text-align: left;
  margin: 8px 8px;
}

.project-modal {
  background-color: rgba(0, 0, 0, 0.9) !important;
  border-color: #2a2a2a;
  color: #fff;
}

.project-modal-src-link {
  font-size: 12px;
}

.project-language-color {
  position: relative;
  margin: 1px 2px -1px 0px;
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;
}

/* Landing page big button */
.landing-button-big {
  margin: 2px;
  min-width: 244px;
  max-width: 244px;
  min-height: 120px;
  max-height: 120px;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.landing-button-big:hover {
  background-color: rgba(0, 48, 150, 0.6) !important;
}

/* Landing page regular button */
.landing-button {
  margin: 2px;
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  max-height: 120px;
  background-color: rgba(0, 0, 0, 0.175) !important;
}

.landing-button:hover {
  background-color: rgba(52, 104, 52, 0.25) !important;
}

/* Extra padding for text pages */
.page-padding {
  padding-top: 30px;
}

/* Align to center */
.centered-text {
  text-align: center;
}

/* For content to be fixed at center of page */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

.centered-horizontally {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fade in contents from top */
.fadein {
  animation: fadeintop .5s;

  /* Preserve style before and after animation */
  animation-fill-mode: both;
}

/* Fade in contents from bottom */
.fadein-bottom {
  animation: fadeinbottom .5s;

  /* Preserve style before and after animation */
  animation-fill-mode: both;
}

/* Delay fade in animation on loading spinner */
.spinner {
  animation-delay: 1s;
}

/* Fade in from top */
@keyframes fadeintop {
  from {
    opacity: 0;
    transform: translate(0, -10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Fade in from bottom */
@keyframes fadeinbottom {
  from {
    opacity: 0;
    transform: translate(0, 10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Fade out to bottom */
@keyframes fadeoutbottom {
  from {
    opacity: 1;
    transform: translate(0, 0px);
  }
  to {
    opacity: 0;
    transform: translate(0, -10px);
  }
}

/* Footer */
.footer-custom {
  padding: 6px 12px;
}

.footer-dropdown {
  background-color: rgba(0, 0, 0, 0.6);
}

.footer-button {
  margin: 0px 3px;
  padding: 6px 9px;
  border: rgba(0, 0, 0, 0.6) !important;
}

.footer-mdicon {
  padding: 0px 0px 2px 0px;
}

.footer-item {
  color: #fff;
}

.footer-version {
  transition: .3s;
}

/* Animate Card Header & Nav tab on hover */
.footer-version:hover {
  color: rgba(255, 255, 255, 1);
}
