<mat-card>
  <mat-card-content>
    <h1>{{ contents.title }}</h1>
    <h3>{{ contents.intro }}</h3>
    <h3>{{ contents.interests.heading }}</h3>
    <ul class="mat-h3">
      <li
        *ngFor="let interest of contents.interests.items"
      >
        <a
          *ngIf="interest.url"
          class="listUrl"
          href="{{ interest.url }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ interest.name }}
        </a>
        <span
          *ngIf="!interest.url"
        >
          {{ interest.name }}
        </span>
      </li>
    </ul>
    <h3>{{ contents.contact.heading }}</h3>
    <ul class="mat-h3">
      <li
        *ngFor="let contact of contents.contact.items"
      >
        <span
          *ngIf="contact.subheading"
        >
          <strong>{{ contact.subheading }}</strong>:
        </span>
        <a
          *ngIf="contact.url"
          class="listUrl"
          href="{{ contact.url }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ contact.name }}
        </a>
        <span
          *ngIf="!contact.url"
        >
          {{ contact.name }}
        </span>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
