.mat-card {
  margin: 0px 16px;
  max-width: 720px;
}

a.listUrl {
  transition: color .2s;
}

a.listUrl:link, a.listUrl:visited {
  color: white;
}

a.listUrl:hover {
  color: yellow;
}

a.listUrl:active {
  color: red;
}
