.app-contents-parent {
  display: flex;
  padding: 8px;
}

.app-contents-left {
  flex: 1;
  animation: fadeintop .2s;
  animation-fill-mode: both;
}

@keyframes fadeintop {
  from {
    opacity: 0;
    transform: translate(0, -10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.app-contents-right {
  flex: 3;
  padding: 16px;
}

.mat-list-item {
  font-size: 20px;
  transition: color 0.3s;
}

.mat-list-item:hover {
  color: red;
}

.route-link-active {
  color: yellow;
}

.route-link-inactive {
  color: white;
}
