<div class="app-contents-parent">
  <div class="app-contents-left">
    <mat-nav-list>
      <mat-list-item
        class="sidebar"
        *ngFor="let appRoute of appRoutes"
        [routerLink]="destinationRoute(appRoute.route)"
        [ngClass]="{
          'route-link-active': routeIsActive(appRoute.route),
          'route-link-inactive': !routeIsActive(appRoute.route)
        }"
      >
        <div>{{ appRoute.label }}</div>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div
    class="app-contents-right"
    [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''"
  >
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>
