<div
  *ngIf="showMobile"
>
  <nav
    mat-tab-nav-bar
    mat-align-tabs="start"
    class="fadein"
  >
    <a
      mat-tab-link
      *ngFor="let appRoute of appRoutes"
      [routerLink]="destinationRoute(appRoute.route)"
      [active]="routeIsActive(appRoute.route)"
    >
      {{ appRoute.label }}
    </a>
  </nav>
</div>
<div class="app-contents-parent">
  <div
    *ngIf="!showMobile"
    class="app-contents-left fadein"
  >
    <mat-nav-list>
      <mat-list-item
        class="sidebar"
        *ngFor="let appRoute of appRoutes"
        [routerLink]="destinationRoute(appRoute.route)"
        [ngClass]="{
          'route-link-active': routeIsActive(appRoute.route),
          'route-link-inactive': !routeIsActive(appRoute.route)
        }"
        matRipple
        [matRippleColor]="rippleColor"
      >
        <div>{{ appRoute.label }}</div>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div
    class="app-contents-right"
    [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''"
  >
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>
<app-footer class="footer"></app-footer>
