.app-contents-parent {
  display: flex;
  padding: 8px;
}

.app-contents-left {
  flex: 1;
}

.app-contents-right {
  flex: 3;
}

.mat-list-item {
  font-size: 20px;
  transition: color 0.3s;
}

.mat-list-item:hover {
  color: red;
}

.route-link-active {
  color: yellow;
}

.route-link-inactive {
  color: white;
}
