<mat-toolbar>
  <a
    href="https://github.com/park-junha"
    target="_blank"
    rel="noopener noreferrer"
  >
    <button
      mat-icon-button
      class="example-icon"
      aria-label="GitHub"
    >
      <fa-icon [icon]="faGithub" size="lg"></fa-icon>
    </button>
  </a>
  <a
    href="https://www.linkedin.com/in/park-junha/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <button
      mat-icon-button
      class="example-icon"
      aria-label="LinkedIn"
    >
      <fa-icon [icon]="faLinkedin" size="lg"></fa-icon>
    </button>
  </a>
  <a
    href="https://junha-park.s3-us-west-1.amazonaws.com/Resume.pdf"
    target="_blank"
    rel="noopener noreferrer"
  >
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Resume"
    >
      <fa-icon [icon]="faFilePdf" size="lg"></fa-icon>
    </button>
  </a>
  <span class="footer-spacer"></span>
  <a
    href="https://github.com/park-junha/PersonalWebsite"
    target="_blank"
    rel="noopener noreferrer"
    id="version"
    matRipple
  >
    <span>{{ version }}</span>
  </a>
</mat-toolbar>
