<h1 mat-dialog-title id="app-project-title">{{ data.title }}</h1>
<div mat-dialog-content>
  <h2 id="app-project-about-title">{{ aboutLabel }}</h2>
  <p
    *ngIf="data.about else noAboutBlock"
    id="app-project-about"
  >{{ data.about }}</p>
  <ng-template #noAboutBlock>
    <p id="app-project-no-about">{{ noAbout }}</p>
  </ng-template>
  <div
    *ngIf="data.url else noUrlBlock"
    class="font-size-fifteen"
    id="app-project-demo"
  >
    View <i>{{ data.title }}</i>&nbsp;
    <a
      [href]="data.url"
      target='_blank'
      rel='noopener noreferrer'
    >here</a>.
  </div>
  <ng-template #noUrlBlock>
    <div
      class="font-size-fifteen"
      id="app-project-no-demo"
    >{{ noUrl }}</div>
  </ng-template>
  <p
    *ngIf="data.source_code_url else noSourceUrlBlock"
    class="sublabel"
    id="app-project-source-code"
  >
    (<a
      [href]="data.source_code_url"
      target='_blank'
      rel='noopener noreferrer'
    >{{ sourceUrlLabel }}</a>)
  </p>
  <ng-template #noSourceUrlBlock>
    <p
      class="sublabel"
      id="app-project-no-source-code"
    >
      {{ noSourceUrl }}
    </p>
  </ng-template>
  <h2
    *ngIf="languagesExist()"
    id="app-project-languages-title"
  >{{ languagesLabel }}</h2>
  <div class="spaced-bottom" id="app-project-languages">
    <div
      *ngFor="let language of data.languages"
    >
      <span
        class="project-language-color"
        [ngStyle]="{
          'background-color': language.color
        }"
      >
      </span>
      <span>{{ language.name }}</span>
    </div>
  </div>
  <h2
    *ngIf="otherToolsExist()"
    id="app-project-other-tools-title"
  >{{ otherToolsLabel }}</h2>
  <div class="spaced-bottom" id="app-project-other-tools">
    <div
      *ngFor="let tool of data.tools"
    >
      <span
        class="project-language-color"
        [ngStyle]="{
          'background-color': tool.color
        }"
      >
      </span>
      <span>{{ tool.name }}</span>
    </div>
  </div>
  <br />
</div>
<button
  mat-raised-button
  mat-dialog-close
  color="warn"
>
  {{ closeLabel }}
</button>
