<mat-accordion
  *ngIf="isLoaded else loading"
  class="exp-headers exp-body"
  id="app-experience-accordion"
  multi
>
  <mat-expansion-panel
    *ngFor="let experience of experiences"
    matRipple
    [matRippleColor]="rippleColor"
    [ngSwitch]="layoutView"
  >
    <mat-expansion-panel-header
      *ngSwitchCase="'xs'"
    >
      <mat-panel-title>
        <span>{{ experience.label }}</span>
      </mat-panel-title>
      <mat-panel-description>
        <span>{{ getShortDateRange(experience) }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-expansion-panel-header
      *ngSwitchCase="'sm'"
    >
      <mat-panel-title>
        <span>{{ experience.company }}</span>
      </mat-panel-title>
      <mat-panel-description>
        <span>{{ getShortDateRange(experience) }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-expansion-panel-header
      *ngSwitchDefault
    >
      <mat-panel-title>
        <span>{{ experience.title }}</span>
      </mat-panel-title>
      <mat-panel-description id="three-columns">
        <span>{{ experience.company }}</span>
        <span>{{ getShortDateRange(experience) }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li
        *ngFor="let statement of experience.description"
      >
        <span>{{ statement }}</span>
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #loading>
  <mat-spinner
    diameter="48"
    color="accent"
    id="app-experience-loading"
  >
  </mat-spinner>
</ng-template>
