/* React Bootstrap Card Header with inline text */
.card-header-custom {
  clear: both;
  transition: .3s;
}

/* Animate Card Header on hover */
.card-header-custom:hover{
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}

/* Left-aligned text of Card Header */
.card-header-custom-left {
  margin: 0px 8px 0px 0px;
  float: left;
}

/* Right-aligned text of Card Header */
.card-header-custom-right {
  color: rgba(255, 255, 255, 0.5);
  float: right;
}
