.centered {
  animation: fadein .5s;
  animation-delay: 1s;
  position: fixed;
  top: 50%;
  left: 50%;

  /* Preserve style before and after animation */
  animation-fill-mode: both;
}

/* Fade in animation for spinner */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(0, -10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
