body {
  background-color: #09101f;
  color: white;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }

a {
  transition: color 0.2s;
}

a:link, a:visited {
  color: white;
}

a:hover {
  color: rgb(244, 143, 177);
}

.router-wrapper {
  position: relative;
  width: 100%;
}

router-outlet ~ * {
  position: absolute;
  width: 100%;
  margin-bottom: 64px;
}

.backdrop-blur {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
}

.project-dialog .mat-dialog-container {
  transition: border 0.3s, background-color 0.3s;
  background-color: rgba(0, 0, 0, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.project-dialog .mat-dialog-container:hover {
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid white;
}

.mat-spinner {
  margin: 0 auto;
}

.mat-card {
  transition: border 0.3s, background-color 0.3s !important;
  background-color: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.mat-card:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid white;
}

.mat-card .mat-card-content {
  margin-bottom: 0;
}

.mat-nav-list .mat-list-item.sidebar .mat-list-item-content {
  justify-content: flex-end;
}

.mat-tab-label, .mat-tab-link {
  font-size: 16px;
  color: white;
}

.mat-tab-body {
  font-size: 16px;
  line-height: 1.5;
  padding: 8px;
}
