body {
  background-color: #09101f;
  color: white;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }

.div-padding {
  padding: 16px;
}

router-outlet ~ * {
  position: absolute;
}
