body {
  background-color: #09101f;
  color: white;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }

router-outlet ~ * {
  position: absolute;
}

.mat-nav-list .mat-list-item.sidebar .mat-list-item-content {
  justify-content: flex-end;
}

.mat-tab-label {
  font-size: 16px;
  color: white;
}

.mat-tab-body {
  font-size: 16px;
  line-height: 1.5;
  padding: 8px;
}
